.dragover {
  background: #f0f0f0;
  border-color: #333;
}

.task-list-item {
  display: flex;
  list-style-type: none;
  align-items: flex-start;
}

input.task-list-item-checkbox,
input.radio-list-item-radio {
  display: inline-block;
  margin-top: 2px;
}

input.task-list-item-checkbox:disabled {
  color: black;
}

p.end {
  text-indent: 0em;
  margin-bottom: 15px;
}

.linemark {
  vertical-align: top;
  display: inline-block;
}

.qrcode {
  width: 100px !important;
  aspect-ratio: 1 / 1;
  
  margin: 3px;
  border-radius: 3px;
  box-shadow:
      0 4px 6px rgba(0,0,0,0.35),
      0 8px 32px rgba(0,0,0,.15);  
}

